#topbar {
}

#topbar li {

}

.btn.menu-item.btn-default {
    width:100%;
    height:50px;

    background:#e0e0e0;
    border-color:#a4a4a4;
    box-shadow: none;
}

div.menu-item {
    width:100%;
    height:50px;
    background-color: red;
}

div.menu-item span {
    text-align: center;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#language-select {
    left:15px;
    width:90%;
    min-width: 0px;
}

h1.logo {
    text-align:center;
}

div.selected {
    background: #666666;
}

span.menu-text {
    line-height: 36px;
}
